.backButton{
    transition: font-size 1s;
}
.backButton:hover{
    color: gray;
    font-size: 1.5em;
}

.nav-link{
    transition: font-size 1s;
}

.nav-link:hover{
    font-size: 1.5em;
}

.post-image{
    width: 25%;
}

.author-image{
    width: 15%;
}

.login-card{
    max-width: 25% !important;
}

.register-card{
    max-width: 50% !important;
}

/* CSS for responsive layout*/
@media only screen and (max-width: 600px) {
    .post-image{
        width: 100% !important;
    }

    .author-image{
        margin: 0 auto !important;
        width: 75% !important;
    }

    .login-card{
        max-width: 90% !important;
    }

    .register-card{
        max-width: 90% !important;
    }
}



