.backButton{
    transition: font-size 1s;
}
.backButton:hover{
    color: gray;
    font-size: 1.5em;
}

.nav-link{
    transition: font-size 1s;
}

.nav-link:hover{
    font-size: 1.5em;
}

.post-image{
    width: 25%;
}

@media only screen and (max-width: 600px) {
    .post-image{
        width: 100% !important;
    }
}

.author-image{
    width: 15%;
}

@media only screen and (max-width: 600px) {
    .author-image{
        margin: 0 auto !important;
        width: 75% !important;
    }
}
